include AUTHORS
include LICENSE
include buildout.cfg
include bootstrap.py
recursive-include authority/templates/authority *.html
recursive-include authority/templates/admin *.html
recursive-include docs *.txt *.html
recursive-exclude docs/build *.txt
prune docs/build/html/_sources
