{% load permissions %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>{{ flatpage.title }}</title>
</head>
<body>
<h1>Title: {{ flatpage.title }}</h1>
<p>Content: {{ flatpage.content }}</p>

<h2>Examples</h2>
<ol>
<li>The permissions granted for this flatpage:

  {% get_permissions flatpage for request.user %}
  <ul><h4>get_permissions flatpage for request.user</h4>
  {% for perm in permissions %}
      <li>{{ perm.user }}: {{ perm }} {% permission_delete_link perm %}</li>
  {% endfor %}
  </ul>

  {% get_permissions flatpage for request.user as "request_user_permissions" %}
  <ul><h4>get_permissions flatpage for request.user as "request_user_permissions"</h4>
  {% for perm in request_user_permissions %}
      <li>{{ perm.user }}: {{ perm }} {% permission_delete_link perm %}</li>
  {% endfor %}
  </ul>

  {% get_permissions flatpage as "all_permissions" %}
  <ul><h4>get_permissions flatpage as "all_permissions"</h4>
  {% for perm in all_permissions %}
      <li>{{ perm.user }}: {{ perm }} {% permission_delete_link perm %}</li>
  {% endfor %}
  </ul>

</li>

<li>Permission form for adding a specific permission "add_flatpage"
{% permission_form flatpage "add_flatpage" %}
</li>

<li>Permission form with a list of options queried from the authority
{% permission_form flatpage %}
</li>

<li><h2>Detailed tests</h2>
  <h3>Can I change this flatpage?</h3>
  <p>"can_change" of the custom permission set "flatpage_permission":</p> 
  <blockquote>
  {% ifhasperm "flatpage_permission.can_change" request.user %}
  Yes, you are allowed.
  {% else %}
  Nope, sorry.
  {% endifhasperm %}
  </blockquote>
  <h3>Can I access top secret flat pages?</h3>
  <p>"top_secret" of the custom permission set "flatpage_permission":</p> 
  <blockquote>
  {% ifhasperm "flatpage_permission.top_secret" request.user flatpage %}
  Yes, you are of course allowed to view flatpage '{{ flatpage }}', aren't you?
  {% else %}
  Nope, sorry. Wait, how can you read this then?
  {% endifhasperm %}
  </blockquote>
</li>
</ol>

</body>